#####
# Generic files
#####
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.bak
.tmp/

#####
# Build files and folders
#####
target/
classes/
out/
bin/
build/
dist/
coverage/
.checkstyle
.pmd

#####
# Eclipse files and folders
#####
.metadata/
.settings/
.classpath
.project

#####
# NetBeans specific files
#####
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-build.xml
nb-configuration.xml

#####
# IntelliJ IDEA files and folders
#####
.idea/
*.iwl
*.ips
*.iml