###
# Client data configuration.
#
# This configuration file can either be present as a separate file containing the CASC configuration or as part of a larger (overall) configuration file.
###

# Flag that tells the CASC implementation to either use the local installation (false) or the blizzard CDN (true).
# Please keep in mind that using the CDN will use a lot of bandwidth/data.
w4j.casc.online=false

# Flag that tells the implementation to cache the most frequently accessed files on the harddrive.
w4j.data.cache=true

# The location to cache files when caching is enabled.
w4j.data.cache.directory=C:\\temp\\warcarft4j\\cache

# The World of Warcraft installation directory
w4j.wow.directory=C:\\Program Files (x86)\\World of Warcraft

# The World of Warcraft branch to use when multiple branches are available. (see nl.salp.warcraft4j.clientdata.Branch for possible values)
w4j.wow.branch=LIVE

# The region to use if multiple regions are available. (see nl.salp.warcraft4j.clientdata.Region for possible values)
w4j.wow.region=EUROPE

# The preferred locale for data to use if multiple locales are available. (see nl.salp.warcraft4j.clientdata.Locale for possible values)
w4j.wow.locale=EN_US