w4j.bnet.api.application=your-application
w4j.bnet.api.maxrequests.second=100
w4j.bnet.api.maxrequests.hour=36000
w4j.bnet.api.auth.auth.key=your-api-key
w4j.bnet.api.auth.auth.secret=your-api-secret-key
w4j.bnet.api.default.region=eu
w4j.bnet.api.default.locale=en_GB